@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;800&display=swap');

:root{
    --black: #000000;
    --white: #ffffff;
    --red: #E21717;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Saira', sans-serif !important;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: var(--black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red) ;
  border-radius: 6px;
}
