@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Saira', sans-serif !important;
}

a{
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: var(#000000);
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff ;
  border-radius: 6px;
}

body{
  background-color: #101623;
  color: #ffffff;
}